<!doctype html>
<html lang="en" ng-app="quoteBook">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>

	</head>
	<body ng-controller="mainController">
		<div><input ng-model="authorFilter.author" type="text" placeholder="filter quotes by author"/></div>
		<div><input type="text" placeholder="enter new quote text" ng-model="a"/></div>
		<div><input type="text" placeholder="enter new quote author" ng-model="b"/></div>
		<div>
			<button ng-click="addQuote()">Add New Quote</button>

		</div>
		<p ng-repeat="quote in quotes  | filter : authorFilter">
			<span class='text'>{{quote.text}}</span>
			<span class='author'>{{quote.author}}</span>
			<button ng-click="quotes.splice($index, 1)">Delete</button>
		</p>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="mainController.js"></script>
		<script src="mainService.js"></script>
	</body>
</html>